{
  "extends": "stylelint-config-recommended",
  "rules": {
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "theme",
          "breakpoint",
          "screen",
          "apply",
          "responsive",
          "variants",
          "tailwind"
        ]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen"
        ]
      }
    ]
  }
}
