@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  10 {
    background-position: -200% 0;
  }
}
:root {
  --page-width: 860px;
}

a,
button,
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.some {
  color: theme(colors.green.600);
  font-size: theme(fontSize.xs);
}
#mdx-container {
  pre:not([class]) {
    max-width: 100%;
    overflow: auto;
    background-color: theme(colors.gray.200);
  }
}
@layer components {
  .page-width {
    max-width: var(--page-width);
  }
}

@layer components {
  .page-default {
    max-width: var(--page-width);
    @apply mx-auto my-0 w-full bg-slate-50 px-4 2xl:px-0;
  }
}
@layer components {
  .current-tab {
    position: relative;
    top: 1px;
    min-width: 100px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    @apply cursor-pointer whitespace-nowrap border-x border-t px-2 py-0.5 hover:bg-slate-300;
  }
  @media screen and (max-width: 540px) {
    .current-tab {
      min-width: auto;
    }
  }
  .current-tab:not(.active-tab) {
    color: theme(colors.slate.500);
    border-bottom: 1px solid theme(colors.slate.400);
  }
}
.current-tab.active-tab {
  position: relative;
  background-color: #ffffff; /* 탭의 배경색 */
}

/* 활성화된 탭 아래 부분의 반투명 효과를 줄 '가짜' 요소 */
.current-tab.active-tab::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: transparent;
  left: -10px;
  bottom: 0px;
  height: 16px;
  width: 10px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid theme(colors.slate.400);
  border-right: 1px solid theme(colors.slate.400);
  box-shadow: 4px 2px 0 2px #fff;
}
.current-tab.active-tab::after {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: transparent;
  right: -16px;
  bottom: 0px;
  height: 16px;
  width: 16px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid theme(colors.slate.400);
  border-left: 1px solid theme(colors.slate.400);
  box-shadow: -7px 2px 0 1px #fff;
}
.progress-bar {
  position: sticky;
  top: 0px;
  height: 3px;
  width: 100%;
  z-index: 999;
  background-color: rgb(185, 185, 185);
  transition: background-color 0.3s;
  max-width: 100%;
  overflow: hidden;
}
.progress-bar.active {
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 55%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}
.progress-bar .scroll-percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(131, 131, 131);
}
body {
  margin: 0;
  padding: 0;
  background-color: theme("colors.slate.50");
}
pre.no-style {
  padding: 0px;
  margin: 0;
}
[data-href] {
  cursor: pointer;
}
[data-href].active {
  font-weight: bold;
}
[data-sticky-header] {
  transition: 0.3s;
}
[data-href]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.3s;
}
[data-sticky-header="true"] {
  text-indent: 1rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[data-sticky-header="true"]::before {
  background-color: theme("colors.slate.400");
}
#nav-bar {
  transition: 0.3s;
}
body.hide:not([open-menu]) #nav-bar {
  top: -60px;
}
body.hide #page-controller {
  display: none;
}
.sentinel {
  position: absolute;
  top: -62px;
  height: 1px;
}
body.hide [data-sticky-header] {
  top: 0px;
}
#page-controller div {
  opacity: 1;
  display: none;
}
#page-controller div:hover {
  opacity: 1 !important;
}
#page-controller a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  padding: 0.75rem;
  transition: 0.3s;
}
@media screen and (max-width: 1315px) {
  #page-controller a {
    padding: 0.75rem 0.25rem;
  }
  #page-controller div[data-left] a {
    border-radius: 0 200px 200px 0;
  }
  #page-controller div[data-right] a {
    border-radius: 200px 0 0 200px;
  }
}

#page-controller a:not([data-disabled="true"]):hover {
  background-color: rgba(248, 250, 252, 0.75);
  opacity: 1 !important;
}
#page-controller [data-disabled="true"] {
  display: none;
  cursor: default;
}
body[open-menu] {
  overflow: hidden;
}
body[open-menu] #menu {
  display: flex;
  flex: 1;
  top: 57px;
  height: calc(100vh - 57px);
  position: absolute;
}
#category-list {
  transition: transform 0.3s;
}
#category-container {
  z-index: 1;
}
#category-container[visible] #category-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  padding: 1rem 0.5rem 2rem;
  display: flex;
  user-select: none;
  z-index: 1;
}
#category-svg {
  transform: rotate(90deg);
}
#category-container[visible] #category-svg {
  transform: rotate(-90deg);
}
.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 4px;
  transition: 0.3s;
  text-transform: uppercase;
  user-select: none;
  font-size: theme("fontSize.xs");
  cursor: pointer;
  position: relative;
  background-color: theme("colors.gray.200");
}
.chip::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  /* background-color: theme("colors.gray.200"); */
}
.chip:not([data-disabled="true"]):hover::after {
  background-color: theme("colors.gray.400");
}
@keyframes popping-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}
@keyframes spring {
  0% {
    transform: scale3d(0.1, 0.4, 1);
  }
  20% {
    transform: scale3d(0.4, 0.8, 1);
  }
  30% {
    transform: scale3d(0.8, 1.2, 1);
  }
  35% {
    transform: scale3d(1.2, 0.8, 1);
  }
  40% {
    transform: scale3d(0.9, 1, 1);
  }
  50% {
    transform: scale3d(1, 1.1, 1);
  }
  80% {
    transform: scale3d(1.1, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.top-btn-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  width: 2rem;
  height: 2rem;
}
.top-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: theme("colors.slate.200");
  border-radius: 200px;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: pointer;
  opacity: 0.8;
}
.top-btn:hover {
  opacity: 1;
}
.top-btn-container.hide {
  transform: translateY(100%);
  animation: popping-up 0.3s ease-out 1 reverse forwards;
}
.top-btn-container.hide .top-btn {
  transform: scale3d(1, 1, 1);
  animation: spring 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1 reverse forwards;
}
.top-btn-container.show {
  transform: translateY(0%);
  animation: popping-up 0.3s ease-in-out 1 normal forwards;
}
.top-btn-container.show .top-btn {
  transform: scale3d(0.1, 0.4, 1);
  animation: spring 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1 normal forwards;
}
.red {
  color: red;
}
